.li1-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li1-box-item {
  overflow: hidden;
  flex: 0 0 48%;
  position: relative;
  /* min-height: 300px; */
  margin-bottom: 40px;
}

.li1-box-item:hover img {
  transform: scale(1);
}

.li1-box-item:hover .boxitem-title {
  bottom: 0px;
  opacity: 0.7;
  transform: scale(1.2);
}

.li1-box-item>img {
  /* width: 100%; */
  height: 100%;
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

.li1-box-item .boxitem-title {
  position: absolute;
  bottom: -75px;
  left: 0px;
  right: 0px;
  height: 50px;
  text-align: center;
  background-color: #000000;
  /* 深紫色（推荐），也可用 rgb(147, 51, 234) */
  color: #ffffff;

  transition: all .3s ease-in-out;
  transform: scale(1);
}

.boxitem-title h6 {
  font-size: 15px;
  /* display: inline-block; */
  margin: 15px 0 8px;
}


/* 手机*/
@media screen and (max-width: 550px) {
  .li1-box-item {
    flex: auto;
    min-height: auto;
  }
}